<div class="absolute inset-x-0 flex justify-center -top-6 md:-top-8 space-x-4">
  <% [
    { icon: 'fas fa-phone-alt', link: '#' },
    { icon: 'fas fa-envelope', link: '#' },
    { icon: 'fab fa-facebook-f', link: '#' },
    { icon: 'fab fa-instagram', link: '#' }
  ].each do |item| %>
    <%= link_to item[:link], class: 'group' do %>
      <div class="bg-white rounded-full w-12 h-12 md:w-16 md:h-16 flex items-center justify-center shadow-lg text-access-blue transition-all duration-300 ease-in-out transform group-hover:scale-110 group-hover:shadow-xl">
        <i class="<%= item[:icon] %> fa-lg"></i>
      </div>
    <% end %>
  <% end %>
</div>
