<%= link_to path, class: "#{extra_class if defined?(extra_class)} relative inline-flex items-center px-6 py-3 text-white bg-access-blue rounded-full overflow-hidden group shadow-md hover:shadow-lg" do %>
  <span class="relative z-10 font-medium"><%= text %></span>
  <span class="relative z-10 ml-3 transition-transform transform duration-300 ease-out">
    <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
      <i class="flex items-center justify-center fa-solid fa-arrow-right h-5 w-5 transform -rotate-45 group-hover:rotate-0 transition-transform duration-300 ease-out text-access-blue"></i>
    </span>
  </span>
  <span class="absolute rounded-full inset-0 bg-access-dark transition-all duration-500 ease-out transform -translate-x-full group-hover:translate-x-0"></span>
<% end %>
