<nav class="bg-white border-b border-gray-200">
  <div class="mx-auto flex justify-between px-5 py-2 h-28">
    <div class="flex items-center">
      <div class="relative w-96 h-16 mt-6">
        <img src="https://i.imgur.com/3qNKS3b.png" alt="Logo de votre entreprise" class="absolute w-full h-full object-cover">
      </div>
    </div>
    <div class="text-access-blue hidden md:flex items-end mb-2 center space-x-8">
      <a href="#" class="hover:text-blue-700">L'actu Access</a>
      <a href="#" class="hover:text-blue-700">Les offres</a>
      <a href="#" class="relative hover:text-blue-700" id="products-dropdown">Nos produits</a>
      <a href="#" class="hover:text-blue-700">Où nous trouver ?</a>
      <a href="#" class="hover:text-blue-700">Nous contacter</a>
    </div>
    <div id="product-dropdown-menu" class="hidden absolute bg-white shadow-md rounded-md z-10 mt-2">
      <ul class="divide-y divide-gray-100">
        <li class="py-2 px-4"><a href="#">Compresseurs et Aspirations</a></li>
        </ul>
    </div>
  </div>
</nav>
