<header class="bg-white border-b border-gray-200 flex justify-between px-5 min-h-24 h-[14vh]">
  <%= image_tag "https://res.cloudinary.com/dmlvtscck/image/upload/v1726750925/Access%20dental/Images/logos/logo_access_dental_xllfue.png",
    alt: "Logo de votre entreprise",
    class: "w-96 object-cover" %>

  <nav class="text-access-blue hidden items-center md:flex space-x-8">
    <a href="#" class="hover:text-blue-700">L'actu Access</a>
    <a href="#" class="hover:text-blue-700">Les offres</a>

    <div class="relative inline-block" data-controller="dropdown" style="z-index: 20;">
      <!-- Bouton déclencheur du dropdown -->
      <button type="button"
              id="dropdown_example"
              class="inline-flex justify-center items-center"
              data-dropdown-target="button"
              data-action="mouseenter->dropdown#show mouseleave->dropdown#hide"
              tabindex="0"
              aria-haspopup="true" aria-expanded="true">
        Nos Produits
        <svg class="w-2.5 h-2.5 ms-3"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 10 6">
          <path stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"/>
        </svg>
      </button>

      <!-- Menu dropdown -->
      <div role="menu"
           class="absolute right-0 origin-top-right w-48 shadow-xl rounded z-20 hidden"
           data-dropdown-target="menu"
           data-transition-enter="transition ease-out duration-100"
           data-transition-enter-start="transform opacity-0 scale-95"
           data-transition-enter-end="transform opacity-100 scale-100"
           data-transition-leave="transition ease-in duration-75"
           data-transition-leave-start="transform opacity-100 scale-100"
           data-transition-leave-end="transform opacity-0 scale-95"
           aria-orientation="vertical" aria-labelledby="dropdown_example"
           data-action="mouseenter->dropdown#show mouseleave->dropdown#hide">
        <div class="bg-white rounded-md">
          <div class="p-1 space-y-1">
            <!-- Itération sur les catégories -->
            <ul class="py-2 text-sm text-gray-700">
              <% @categories.each do |category| %>
                <li><%= link_to category.name, category_products_path(category), class: "block px-4 py-2 hover:bg-gray-100" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <a href="#">Où nous trouver ?</a>
    <a href="#">Nous contacter</a>
  </nav>
</header>
