<header class="bg-white border-b border-gray-200 flex justify-between px-5 min-h-24	h-[14vh]">
  <%= image_tag "https://res.cloudinary.com/dmlvtscck/image/upload/v1726750925/Access%20dental/Images/logos/logo_access_dental_xllfue.png",
    alt: "Logo de votre entreprise",
    class: "w-96 object-cover" %>

  <nav class="text-access-blue hidden items-center md:flex space-x-8">
    <a href="#" class="hover:text-blue-700">L'actu Access</a>
    <a href="#" class="hover:text-blue-700">Les offres</a>
    <button id="dropdownHoverButton"
            data-dropdown-toggle="dropdownHover"
            data-dropdown-trigger="hover"
            class="p-2 border border-solid focus:ring-blue-300 inline-flex items-center"
            type="button">
        Nos produits
        <svg class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"/>
        </svg>
    </button>

    <!-- Dropdown menu -->
    <div id="dropdownHover" class="z-10 hidden bg-white rounded-lg w-44">
      <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownHoverButton">
        <% @category_names.each do |name| %>
          <li><%= link_to name, "#", class: "block px-4 py-2 hover:bg-gray-100" %></li>
        <% end %>
      </ul>
    </div>

    <a href="#">Où nous trouver ?</a>
    <a href="#">Nous contacter</a>
  </nav>

  <div id="product-dropdown-menu" class="hidden absolute bg-white shadow-md rounded-md z-10 mt-2">
    <ul class="divide-y divide-gray-100">
      <li class="py-2 px-4"><a href="#">Compresseurs et Aspirations</a></li>
    </ul>
  </div>
</header>
