<footer class="bg-access-dark text-white h-[24vh] flex items-center justify-center px-[10rem] py-5">
  <p>Copyright © 2024 Access Dental : Équipement dentaire à Poitiers (86, Vienne, Poitou-Charentes, Nouvelle-Aquitaine)</p>
</footer>
