<section id="about-us" class="relative bg-cover bg-no-repeat" style="background-image: url(<%= image_path('our-service-bg.svg')%>)">
  <div class="items-center lg:flex lg:gap-10 lg:mx-auto lg:flex-row-reverse lg:px-5 lg:py-24 xl:container 2xl:px-32 3xl:px-64">
    <!-- texte -->
    <div class="pt-12 px-5 lg:p-0 xl:w-[50%] lg:pl-0">
      <div class="justify-center lg:justify-start flex items-center gap-2 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="w-3 h-3">
          <path d="M12 5.98442C7.01299 6.54546 6.57662 7.01299 6.01558 12C5.45455 7.01299 4.98701 6.54546 0 5.98442C4.98701 5.42338 5.45455 4.98701 6.01558 0C6.57662 4.98701 7.01299 5.42338 12 5.98442Z" fill="#1E84B5"/>
        </svg>
        <span class=" text-access-blue font-normal text-sm tracking-[0.2rem] uppercase">A Propos de nous</span>
      </div>
      <h2 data-animate-title-target="title" class="text-center lg:text-start text-3xl sm:text-4xl lg:text-[48px] lg:leading-[4rem] font-bold text-access-dark">
        <span class="opacity-0 block whitespace-nowrap text-access-blue">Notre Experience</span>
        <span class="opacity-0 block whitespace-nowrap">et Nos&nbsp;Engagements</span>
      </h2>
      <p data-scroll-reveal-target="item"data-delay="250ms" class="reveal text-access-dark font-light my-8">
        Depuis plus de 20 ans, Access Dental accompagne les dentistes et chirurgiens-dentistes dans la conception de leurs cabinets. Nous sommes présents sur les départements de la Vienne, des Deux-Sèvres, de la Charente, de la Charente-Maritime, de la Vendée, du Limousin, de la Dordogne et de l’Indre, avec une antenne à Poitiers et une autre à Angoulême. <br /><br />

        Afin de correspondre au maximum avec vos besoins, nous avons sélectionné un panel de marques et de produits répondant à nos nombreux critères d’exigence pour une gestion sereine du cabinet dentaire. Nous assurons également un suivi poussé de vos projets en nous engageant à répondre et à intervenir rapidement.
      </p>

      <!-- Liste des caractéristiques -->
      <div data-scroll-reveal-target="item" data-delay="500ms" class="reveal grid grid-cols-2 gap-6 mb-8">
        <% ["Equipe expérimentée", "Service compréhensif", "Vision artistique", "SAV à votre écoute" ].each do |skill| %>
          <div class="flex items-center gap-2">
            <i class="fa-solid fa-check w-5 h-5 text-white rounded-full bg-access-blue flex items-center justify-center"></i>
            <span class="font-semibold text-access-dark"><%= skill %></span>
          </div>
        <% end %>
      </div>
    </div>
    <!-- images superposées -->
    <div data-controller="scroll-reveal" class="left-content xl:w-[50%] px-4 pt-8 md:px-[6rem] lg:px-0 md:pt-12 lg:pt-12">
      <div class="relative ">
        <%= image_tag "map_2.webp", alt: "Carte illustrant les départements où Access Dental intervient : 16, 17, 79, 86, 85, 37, 41, 36, 24, 87", class: "opacity-0 w-[65%] lg:min-w-[380px] xl:min-w-[416px] reveal-horizontal border shadow-lg rounded-[2rem] object-cover", data: { scroll_reveal_target: "item" } %>
        <div class="absolute z-50 top-8 right-12 w-32 h-32 sm:right-40 lg:right-12 xl:right-40 2xl:right-32 3xl:right-64">
          <div class="animate-[spin_20s_linear_infinite]">
            <svg viewBox="0 0 100 100" class="w-full h-full">
              <defs>
                <path id="circlePath" d="M 50,50 m -37,0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0" fill="none"/>
              </defs>
              <circle cx="50" cy="50" r="42" fill="none" stroke="#1E84B5" stroke-width="14" />
              <text>
                <textPath href="#circlePath" startOffset="0%">
                  <tspan fill="white" class="text-xs font-semibold tracking-[0.16rem]">
                    +20 ANNEES D'EXPERIENCE
                  </tspan>
                </textPath>
              </text>
            </svg>
          </div>
        </div>
      </div>
        <%= image_tag "cabinet3.webp", alt: "illustration d'un cabinet dentaire", class: "opacity-0 object-cover reveal-horizontal rounded-[2rem] border-white border-8 w-[60%] translate-x-32 sm:translate-x-40 md:translate-x-40 lg:translate-x-20 xl:translate-x-48 -translate-y-20 lg:min-w-[316px]", data: { scroll_reveal_target: "item" } %>
    </div>
  </div>
</section>
