<section class="bg-access-light-blue bg-no-repeat bg-center bg-[url('hero-bg.svg')]">
  <div class="columns-2 px-5 mx-auto py-12 flex flex-col items-center lg:container lg:py-0 lg:flex-row 2xl:px-32 3xl:px-64">
      <!-- Colonne de gauche -->
      <div class="w-full mb-8 md:pr-12">
        <h1 data-controller="fadein" class="text-center lg:text-start text-4xl lg:text-[54px] lg:leading-[4rem] font-bold text-access-dark">
          <span data-fadein-target="part" data-delay="0.25" class="opacity-0 animate-[revealX_1s_ease-in-out_forwards_250ms] whitespace-nowrap lg:block">Réalisez&nbsp;vos</span>
          <span data-fadein-target="part" data-delay="0.50" class="opacity-0 animate-[revealX_1s_ease-in-out_forwards_450ms] whitespace-nowrap lg:block text-access-blue">Projets&nbsp;de</span>
          <span data-fadein-target="part" data-delay="0.75" class="opacity-0 animate-[revealX_1s_ease-in-out_forwards_700ms] whitespace-nowrap lg:block">Cabinets&nbsp;Dentaire</span>
        </h1>
        <p class="opacity-0 animate-revealY text-access-dark font-light my-8">Forte de 20 ans d'expérience et plus de 500 réalisations, notre équipe d'experts vous accompagne dans la création de votre cabinet dentaire. De la conception à la réalisation, nous gérons l'intégralité de votre projet pour vous permettre de vous concentrer sur l'essentiel : vos patients.</p>
        <%= render "components/fill_up_btn", path: root_path(anchor: "contact"), text: "Prendre RDV", extra_class: "opacity-0 animate-[revealY_1s_ease-in-out_forwards_300ms]" %>
      </div>

<<<<<<< HEAD
      <!-- Slider main container -->
      <div data-controller="carousel-fade" class="swiper mySwiper1 lg:block w-full">
        <!-- Additional required wrapper -->
=======
      <div data-controller="swiper" id="landingSwiper" class="swiper lg:block w-full">
>>>>>>> 464782b484b120907cadc7a1dd311aca5857485f
        <div class="swiper-wrapper">
          <% 6.times do |i| %>
            <div class="swiper-slide h-full">
              <%= image_tag "landing#{i}.png", alt: "Image de cabinet dentaire #{i} - Access Dental", class: "hidden h-[86vh] transition duration-700 lg:block lg:w-full object-cover" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</section>
