<section class="bg-access-light-blue bg-no-repeat bg-center bg-[url('hero-bg.svg')]">
  <div class="columns-2 px-5 mx-auto py-12 flex flex-col items-center lg:container lg:py-0 lg:flex-row 2xl:px-32 3xl:px-64">
      <!-- Colonne de gauche -->
      <div class="w-full mb-8 md:pr-12">
        <h1 data-controller="fadein" class="text-center lg:text-start text-4xl lg:text-[54px] lg:leading-[4rem] font-bold text-access-dark">
          <span data-fadein-target="part" data-delay="0.25" class="opacity-0 animate-[revealside_1s_ease-in-out_forwards_250ms] whitespace-nowrap lg:block">Réalisez&nbsp;vos</span>
          <span data-fadein-target="part" data-delay="0.50" class="opacity-0 animate-[revealside_1s_ease-in-out_forwards_450ms] whitespace-nowrap lg:block text-access-blue">Projets&nbsp;de</span>
          <span data-fadein-target="part" data-delay="0.75" class="opacity-0 animate-[revealside_1s_ease-in-out_forwards_700ms] whitespace-nowrap lg:block">Cabinets&nbsp;Dentaire</span>
        </h1>
        <p class="opacity-0 animate-reveal text-access-dark font-light my-8">Forte de 20 ans d'expérience et plus de 500 réalisations, notre équipe d'experts vous accompagne dans la création de votre cabinet dentaire. De la conception à la réalisation, nous gérons l'intégralité de votre projet pour vous permettre de vous concentrer sur l'essentiel : vos patients.</p>
        <%= render "components/fill_up_btn", path: root_path(anchor: "contact"), text: "Prendre RDV", extra_class: "opacity-0 animate-[reveal_1s_ease-in-out_forwards_300ms]" %>
      </div>
      <!-- Colonne de droite -->
      <!-- Slider -->
      <div data-hs-carousel='{
          "loadingClasses": "opacity-0",
          "dotsItemClasses": "cursor-pointer h-full",
          "isAutoPlay": true
        }' class="hidden lg:block w-full relative">
        <div class="hs-carousel relative overflow-hidden w-full min-h-[86vh]">
          <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
          <% 6.times do |i| %>
            <div class="hs-carousel-slide">
              <div class="flex justify-center h-full">
                <%= image_tag "landing#{i}.png", alt: "Image de cabinet dentaire #{i} - Access Dental", class: "hidden transition duration-700 lg:block lg:w-full object-cover" %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>

<!-- End Slider -->

  </div>
</section>
