<div class="bg-[#EFF8FF] flex justify-center bg-no-repeat bg-center bg-auto" style="background-image: url('https://demo.awaikenthemes.com/html-preview/dentaire/images/hero-bg.svg');">
  <div class="container px-[6rem] relative z-10">
    <!-- Hero Section avec image de fond animée -->
    <div class="container w-full mx-auto px-4 h-screen md:min-h-[84vh] lg:max-h-[60vh]">
      <div class="flex flex-col md:flex-row items-center justify-between h-full">
        <!-- Colonne de gauche -->
        <div class="md:w-1/2 mb-8 md:mb-0 pr-0 md:pr-12">
          <h1 class="text-4xl md:text-5xl font-bold mb-6">
            <span class="mb-3 block text-access-dark">Réalisez</span>
            <span class="mb-3 block text-access-blue animate-pulse">Vos Projets</span>
            <span class="block text-access-dark">de Cabinets Dentaire</span>
          </h1>
          <p class="text-access-dark mb-8">
            Forte de 20 ans d'expérience et plus de 500 réalisations, notre équipe d'experts vous accompagne dans la création de votre cabinet dentaire. De la conception à la réalisation, nous gérons l'intégralité de votre projet pour vous permettre de vous concentrer sur l'essentiel : vos patients.
          </p>
          <a href="#" class="relative inline-flex items-center px-6 py-3 text-white bg-access-blue rounded-full overflow-hidden group shadow-md hover:shadow-lg">
            <span class="relative z-10 font-medium">Prendre RDV</span>
            <span class="relative z-10 ml-3 transition-transform transform duration-300 ease-out">
              <!-- Flèche orientée à 45 degrés vers le haut, entourée d'un cercle blanc -->
              <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
                <i class="fa-solid fa-arrow-right flex items-center justify-center h-5 w-5 transform -rotate-45 group-hover:rotate-0 transition-transform duration-300 ease-out text-access-blue"></i>
              </span>
            </span>
            <span class="absolute rounded-full inset-0 bg-access-dark transition-all duration-500 ease-out transform -translate-x-full group-hover:translate-x-0"></span>
          </a>
        </div>
        <!-- Colonne de droite -->
        <div class="md:w-1/2 relative h-full z-0">
          <%= image_tag "banner.jpeg", alt: "Cabinet dentaire moderne", class: "w-full h-full object-cover opacity-75 z-0" %>
        </div>
      </div>
    </div>
    <!-- Boutons de contact flottants -->
    <div class="absolute inset-x-0 flex justify-center -bottom-8 space-x-4">
      <% [
        { icon: 'fas fa-phone-alt', link: '#' },
        { icon: 'fas fa-envelope', link: '#' },
        { icon: 'fab fa-facebook-f', link: '#' },
        { icon: 'fab fa-instagram', link: '#' }
      ].each do |item| %>
        <%= link_to item[:link], class: 'group' do %>
          <div class="bg-white rounded-full w-16 h-16 flex items-center justify-center shadow-lg text-access-blue transition-all duration-300 ease-in-out transform group-hover:scale-110 group-hover:shadow-xl">
            <i class="<%= item[:icon] %> fa-xl"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# ////////////////////////////////////////////////////////////////////////////////////////////// %>

<div class="bg-access-dark h-48 flex items-center justify-center py-5">
  <!-- Section "Need Dental Services?" -->
  <div class="flex container justify-between text-white px-[6rem]">
    <div class="flex w-1/2 justify-between">
      <div class="flex items-center space-x-3">
        <i class="fas fa-phone-alt text-access-blue text-2xl"></i>
        <div>
          <h3 class="text-white font-semibold">Un projet à réaliser ?</h3>
          <p class="text-access-light">Appelez au : 05 49 56 57 22</p>
        </div>
      </div>
      <!-- Separator -->
      <div class="border-l border-access-light h-10"></div>
      <!-- Section "Opening Hours" -->
      <div class="flex items-center space-x-3">
        <i class="fas fa-clock text-access-blue text-2xl"></i>
        <div>
          <h3 class="text-white font-semibold">Heures d'ouverture</h3>
          <p class="text-access-light">Du Lundi au Vendredi 8h - 17h</p>
        </div>
      </div>
    </div>
    <!-- "Make an Appointment" Button -->
    <a href="#" class="bg-access-blue text-white px-5 py-2 rounded-full flex items-center space-x-2 transition duration-300 hover:bg-access-blue-dark">
      <span>Make An Appointment</span>
      <i class="fas fa-arrow-right text-white"></i>
    </a>
  </div>
</div>

<%# ///////////////////////////////////////////////////////////////////////////////////////////// %>

<div class="container mx-auto px-[6rem] py-28">
  <div class="text-center mb-12">
    <p class="text-access-blue font-semibold mb-2">+ ACTU</p>
    <h2 class="text-4xl font-bold text-access-dark mb-4">Consultez nos Dernières News</h2>
    <p class="text-access-dark">Cliquez ici pour souscrire à notre Newsletter.</p>
  </div>
  <div class="flex md:flex-row gap-8">
    <% @articles.each do |article| %>
      <%= render "article_card", article: article %>
    <% end %>
  </div>
</div>
