<div class="relative">
  <img src="https://res.cloudinary.com/dmlvtscck/image/upload/v1726750913/Access%20dental/Images/photo_accueil_qut8dx.png" alt="Image-banner" class="w-full h-screen object-cover h-[calc(100vh-300px)]">
  <div class="absolute inset-x-0 top-1/2 h-1/3 bg-[#2C79BB] bg-opacity-80 flex flex-col justify-between">
    <!-- Le conteneur pour les trois éléments de texte -->
    <div class="text-white pl-5 ml-5 flex flex-col justify-between h-full">
      <!-- "Réalisez" à cheval sur la bande bleue -->
      <p class="text-8xl font-black mt-[-50px]">Réalisez</p>
      <!-- "VOS PROJETS" centré verticalement et aligné avec "Réalisez" -->
      <p class="text-8xl font-thin">VOS PROJETS</p>
      <!-- "de création de cabinets dentaires" juste avant la fin de la bande bleue et aligné -->
      <p class="text-5xl font-thin mb-3">de création de cabinets dentaires</p>
    </div>
  </div>
</div>
