<h1>Nouvelle demande de contact</h1>

<p><strong>Nom :</strong> <%= @name %></p>
<p><strong>Email :</strong> <%= @sender_email %></p>
<p><strong>Téléphone :</strong> <%= @phone_number %></p>
<p><strong>Message :</strong></p>
<p><%= @message %></p>
