/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media (min-width: 768px) {
  .article-card-1 {
    transition-delay: 300ms;
  }

  .article-card-2 {
    transition-delay: 600ms;
  }

  .offer-1 {
    transition-delay: 200ms;
  }

  .offer-2 {
    transition-delay: 400ms;
  }

  .offer-3 {
    transition-delay: 600ms;
  }

  .offer-4 {
    transition-delay: 800ms;
  }

  .offer-5 {
    transition-delay: 1000ms;
  }

  .offer-6 {
    transition-delay: 1200ms;
  }

  .offer-7 {
    transition-delay: 1400ms;
  }

  .offer-8 {
    transition-delay: 1600ms;
  }

  .service-card-1 {
    transition-delay: 300ms;
  }

  .service-card-2 {
    transition-delay: 600ms;
  }

  .service-card-3 {
    transition-delay: 900ms;
  }
}
