<div class="bg-[#EFF8FF] bg-no-repeat bg-center" style="background-image: url('https://demo.awaikenthemes.com/html-preview/dentaire/images/hero-bg.svg');">
  <div class="container mx-auto px-[12rem] py-10">
    <div class="brand-filters bg-white rounded-2xl p-4 mb-10">
      <% Brand.pluck(:name).each do |brand_name| %>
        <%= link_to brand_name, category_products_path(brand: brand_name), class: "inline-block px-4 py-2 text-white rounded-full bg-access-blue hover:bg-[#2A4E9E] focus:ring-4 focus:ring-[#1E3A8A] font-medium rounded-lg text-sm px-5 py-2.5" %>
      <% end %>
      <%= link_to '+ Ajouter une marque', new_brand_path(category_id: @category.id), class: "inline-block px-4 py-2 text-white rounded-full bg-access-dark hover:bg-[#2A4E9E] focus:ring-4 focus:ring-[#1E3A8A] font-medium rounded-lg text-sm px-5 py-2.5" %>
    </div>

    <% Brand.all.each_with_index do |brand| %>
      <%= render "brand_card", brand: brand %>
    <% end %>
  </div>
</div>
